.about{
  height: calc(100vh - 70px);
    width: 100%;
    color:#01015c;
    font-family: "Monaco",Monospace	;
}

.para{
    font-size:x-large;
    padding-left:20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #2f5048;
    font-size: x-large;
    font-weight:bolder;
    font-family: 'PT Sans', sans-serif;
}
.heading{
    padding: 5px;
    text-align:left;
    font-family: "Monaco",Monospace	;
    font-size:xx-large;
    font-weight: bolder;
    color: #0f0ff9;
}

img{
    border-radius: 3%;
}

img:hover {
    scale: 1.25;
    animation-delay: 3s;
} 


.sites{
    list-style-type: none;
    margin: 0;
    justify-content: center;
    overflow: hidden; 
    align-content:center;display: flex;
  }

  .layout {

    display: grid;
    grid:". body" 100%/75%;
    gap: 8px;
  }
  
  .body { grid-area: body;
padding-right: 50px;
padding-top: 50px 
}

.sidebar{
  padding-right: 50px;
}
