

.work {
        height: calc(100vh - 70px);
        font-size:x-large;
        width:100%;
        background-color: #fafdfc;
        color: #dce3df;
        padding-left: 10px;
        
        padding-right: 10px;
        
    
}


.project-list{
    font-size:x-large;
        color: #f1deee;
        padding: 20px;
       background-color: #0d1317;
        font-family: "Monaco",Monospace	;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
}

.project-head{
    font-size:x-large;
    color: #cad763;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;    font-family: "Monaco",Monospace	;
}

.project-para{
    font-size:x-large;
    padding-top: 10px;
    color: #e4dada;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Teko', sans-serif;
}
.head{
    color: #e9e6e6;
    font-family: 'Wellfleet', monospace;
    
    text-align: center;

}
.code{
    color: #7fbe9d;
}