ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    align-content:center;
  }
  
  .list {
    float:left;
  }
  
  .list a {
    display: block;

    color: rgb(247, 247, 247);
    background-color:  #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin: 2PX;
    margin-top: 2px;
    font-weight: bolder;
    font-size:x-large;
    border-radius: 5px;
  }
  
  li a:hover {
    color: #e48a23;
    scale: 1.1;
  }  


  .navbar{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    position: fixed;
    padding-left: 30%;
    padding-right: 50%;

  }

  
  .nav{
    margin: 0;
    padding: 0;
    flex-direction:row;
    align-items: center; /* Center horizontally */ /* Center vertically */
  }